<%- partial('header.ejs') %>
<div class="container content">
  <div class="hero-unit">
    <h1>Coming soon...</h1>
    <p>We are in the middle of a re-design.  Please check out the following resources until we launch the community.</p>
  </div>

  <div class="row">
    <div class="span6">
      <h2>Features</h2>
    </div>
    <div class="span6">
      <h2>Info</h2>
      <p>
        The Reconstructor build service allows you to use a simple web based interface to create your custom Linux distributions.  Our server farm then takes your project and builds it for you.  You don't need anything but a web browser.
      </p>
    </div>
  </div>
</div>
<%- partial('footer.ejs') %>
