<%- partial('header.ejs') %>
<div class="container content">
  <div class="hero-unit">
    <h1>Coming soon...</h1>
    <p>We are in the middle of a re-design.  Please check out the following resources until we launch the community.</p>
  </div>

  <div class="row">
    <div class="span8">
      <ul id="help-list" class="unstyled">
        <li><span class="badge badge-info">Email:</span> <code>support at reconstructor dot org</code></li>
        <li><span class="badge badge-warning">IRC:</span> <code>##reconstructor on freenode</code></li>
      </ul>
    </div>
  </div>
</div>
<%- partial('footer.ejs') %>
